# Ambiente virtual
venv/
.env
*.env

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.egg-info/
dist/
build/
*.egg

# Jupyter
.ipynb_checkpoints/
*.ipynb_checkpoints

# Dados gerados em runtime
data/tle_cache.json

# IDEs
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Proibidos pela FIAP
*.zip
*.tar.gz

# Logs e temporários
*.log
*.tmp

# Node / React Native
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.expo/
